/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css);
/* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root {
    --maincolor: #FFFFFF;
    --primarycolor: #294172;
    /* Fedora Dark Blue */
    --secondarycolor: #3c6eb4;
    /* Fedora Blue */
    --tertiarycolor: #CCCCCC;
    --highlightcolor: #e59728;
    /* Features Orange */
    --sidebarbackground: #CACACA;
    --linkcolor: #0D47A1;
    --linkcoloralternate: #db3279;
    /* Friends Magneta */
    --white: #FFFFFF;
    --black: #000000;

}


/* Text styles

body{font-family: "Open Sans",sans-serif;background-color: var(--maincolor);color:var(--black);}
*/
h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.15em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

.videoblock {
    position: relative;
    height: 600px;
    width: 1200px;
    overflow: hidden;
}

.videoblock .content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    padding-top: 32px;
}

span.image {
    display: inline-block;
    transition: transform ease-in-out 0.3s;
    border: 1px solid #555;
    border-width: thin;
    cursor: pointer;
}


div.paragraph {
    padding-top: 10px;
}

.exampleblock .content {
    padding: 1em;

}

.exampleblock .content {
    margin-top: 0.25em;
}

.contribute_title_desc {
    text-align: center;
    color: white;
    position: relative;
}

/*lists layout*/
div.olist.arabic,
div.ulist {
    padding-top: 1em;
    padding-left: 1.25em;
}

.ulist {
    padding-left: 1.25em;
}

.ulist ul li {
    list-style: circle !important;
}

.ulist ul {
    list-style: circle !important;
}

.dlist {
    margin-top: 1em;
}

/* image*/
.imageblock {
    text-align: center;
}

/* image end*/
/* lists layout end*/
.sidebarblock {
    margin: 0.25em;
    padding: 1em;
}

/*Admonitions styling*/
.admonitionblock {
    margin: 1.4rem 0 0;
}

.admonitionblock p,
.admonitionblock td.content {
    font-size: .88889rem
}

.admonitionblock td.content>:first-child {
    margin: 0
}

.admonitionblock pre {
    font-size: .83333rem
}

.admonitionblock>table {
    table-layout: fixed;
    position: relative;
    width: 100%
}

.admonitionblock td.content {
    padding: 1rem 1rem .75rem;
    width: 100%;
    border: 1px solid #dddddf;
    border-radius: 0.25em;
}

.admonitionblock .icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .83333rem;
    padding: 0.5rem;
    height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: .45rem;
    -webkit-transform: translate(-.5rem, -50%);
    transform: translate(-.5rem, -50%)
}

.admonitionblock.caution .icon {
    background-color: #F56D6D;
    color: #fff;
    padding: 0;
}

.admonitionblock.important .icon {
    background-color: #EE0000;
    color: #fff;
    text-align: center;
    width: 100px;
    padding: 0;
}

.admonitionblock.note .icon {
    background-color: #0499C5;
    color: #fff;
    padding: 0;
}

.admonitionblock.tip .icon {
    background-color: #82C299;
    color: #fff;
    padding: 0;
}

.admonitionblock.warning .icon {
    background-color: #FAAA4F;
    color: #fff;
    text-align: center;
    width: 100px;
    padding: 0;
}

.admonitionblock .icon i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 22.5px;
}

.admonitionblock .icon i::after {
    content: attr(title)
}

.admonitionblock.announcement .icon {
    background-color: #9d0c0c;
    color: #fff;
    text-align: center;
    width: 100px;
    padding: 0;
    transform: translate(0, -50%)
}

.admonitionblock.announcement>table {
    table-layout: fixed;
    position: relative;
    width: 100%
}

.admonitionblock.announcement p,
.admonitionblock.announcement td.content {
    font-size: 1rem
}

.banner_date_format {
    font-size: 0.888rem;
    font-style: italic;
    color: rgb(96, 23, 19);
}


/*Admonitions styling end*/
/* example blocks */
.exampleblock {
    font-size: .88889rem;
    font-weight: 500;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    letter-spacing: .01em;
    padding-bottom: .075rem;
    text-align: left
}

.exampleblock>.content {
    border: .1rem solid;
    border-radius: .5rem;
    padding: .75rem;
    background-color: #F3F3F3;
}

.exampleblock>.content>:first-child {
    margin-top: 0
}

/* header 3 */
.sect3 {
    padding-top: 15px;
}

/* header 3 end*/
/* example blocks end */
.contribute_title_desc p {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contribute_banner_desc p {
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contribute_title_desc h1 {
    font-size: 4em;
    color: white;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.halfsize {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.contributecardimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bannerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    --pf-l-flex--Display: flex;
    --pf-l-flex--FlexWrap: wrap;
    --pf-l-flex--AlignItems: unset;
    --pf-l-flex--m-row--AlignItems: baseline;
    --pf-l-flex--m-row-reverse--AlignItems: baseline;
    --pf-l-flex--item--Order: 0;
    --pf-l-flex--spacer-base: var(--pf-global--spacer--md);
    --pf-l-flex--spacer: var(--pf-l-flex--spacer-base);
    --pf-l-flex--spacer--none: 0;
    --pf-l-flex--spacer--xs: var(--pf-global--spacer--xs);
    --pf-l-flex--spacer--sm: var(--pf-global--spacer--sm);
    --pf-l-flex--spacer--md: var(--pf-global--spacer--md);
    --pf-l-flex--spacer--lg: var(--pf-global--spacer--lg);
    --pf-l-flex--spacer--xl: var(--pf-global--spacer--xl);
    --pf-l-flex--spacer--2xl: var(--pf-global--spacer--2xl);
    --pf-l-flex--spacer--3xl: var(--pf-global--spacer--3xl);
    --pf-l-flex--spacer--4xl: var(--pf-global--spacer--4xl);
    align-items: var(--pf-l-flex--AlignItems);
    display: var(--pf-l-flex--Display);
    flex-wrap: var(--pf-l-flex--FlexWrap);
}

.left {
    float: left;
    width: 50%;
    margin-right: 17px;
}

.right {
    width: 40%;
}

.pf-c-page__main-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}





.learn_more_iframe {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.contribute_card_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contributecardbody,
.contributecardtitle,
.pf-c-card__body {
    --pf-c-card__body--FontSize: reset;
}

.contributecardbody,
.contributecardtitle {
    text-align: center;
}

.footerCopyRighttext,
.footertext {
    text-align: center;
    font-size: 0.9em;
    color: white;
    position: relative;
}

.footerCopyRighttext {
    font-size: 1em;
}

.footerdiv {
    display: block;
    box-sizing: border-box;
}

section.tablepadding {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
}

table.pf-c-table.pf-m-width-100.contribute_table.pf-c-table.pf-m-grid-md.pf-m-compact.pf-m-no-border-rows {
    position: fixed;
    width: max-content;
}


section.banner {
    padding-bottom: 0;
}

div.pf-c-banner.footer_banner {
    --pf-c-banner--BackgroundColor: rgb(12 12 12);
    width: 100%;
    font-size: 1em;
    white-space: normal;
}

img.pf-c-brand.footer-traditional-logo {
    width: 138px;
    height: 40px;
}

.bg-dark-gray {
    background-color: #262626 !important;
}

.page__colophon {
    font-size: 0.9rem;
    color: #b3b5b7;

}


.py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

span.middle_content {
    padding-right: 1em;
}

span.banner_link_learn_more {
    margin-left: auto;
    margin-right: 0;
}

.pf-c-divider {
    padding-bottom: 1em;
    padding-top: 1em;
}

div.olist.arabic {
    padding-top: 1em;
}

div.ulist {
    padding-top: 1em;
}

/*Main content setting*/

@media (min-width: 300px) {
    .main_content_section {
        max-width: 280px;
    }

    .main_content_section_info {
        max-width: 280px;
    }

    iframe._doc_iframe {
        height: 200px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 280px;
    }

    div.pf-c-panel__footer._banner {
        max-width: 250px;
        align-items: center;
    }

}

@media (min-width: 350px) {
    .main_content_section {
        max-width: 340px;
    }

    .main_content_section_info {
        max-width: 340px;
    }

    iframe._doc_iframe {
        height: 300px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 340px;
    }
}

@media (min-width: 768px) {
    .main_content_section {
        max-width: 750px;
    }

    .main_content_section_info {
        max-width: 750px;
    }

    iframe._doc_iframe {
        height: 500px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 750px;
    }
}

@media (min-width: 920px) {
    .main_content_section {
        max-width: 870px;
    }

    .main_content_section_info {
        max-width: 870px;
    }

    iframe._doc_iframe {
        height: 600px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 870px;
    }
}

@media (min-width: 1200px) {
    .main_content_section {
        max-width: 1170px;
    }

    .main_content_section_info {
        max-width: 1170px;
    }

    iframe._doc_iframe {
        height: 600px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 175px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 1170px;
    }
}

@media (min-width: 1400px) {
    .main_content_section {
        max-width: 1320px;
    }

    .main_content_section_info {
        max-width: 1320px;
    }

    iframe._doc_iframe {
        height: 600px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 1220px;
    }
}

@media (min-width: 2000px) {
    .main_content_section {
        max-width: 1840px;
    }

    .main_content_section_info {
        max-width: 1320px;
    }

    iframe._doc_iframe {
        height: 600px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 1540px;
    }
}


@media (min-width: 2400px) {
    .main_content_section {
        max-width: 1840px;
    }

    .main_content_section_info {
        max-width: 1320px;
    }

    iframe._doc_iframe {
        height: 600px
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery_process {
        --pf-l-gallery--GridTemplateColumns--min: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-l-gallery.pf-m-gutter.learn_more_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    div.pf-c-panel__main-body._banner {
        max-width: 1840px;
    }
}




.blank_card {
    min-width: 3000px;
}




.pf-c-page__header {
    width: 100%;
}


/*main page*/
.catalog_gallery {
    display: flex;
    justify-content: center;
    /* Centers the cards horizontally */
    flex-wrap: wrap;
    /* Ensures items wrap properly in multiple rows */
    gap: 16px;
    /* Adjust the gap between the items */
}

div.pf-l-gallery.pf-m-gutter.catalog_gallery_c {
    --pf-l-gallery--GridTemplateColumns--min: 400px;
}

@media (min-width: 300px) {
    div.pf-l-gallery.pf-m-gutter.catalog_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 280px;
    }
}

@media (min-width: 350px) {
    div.pf-l-gallery.pf-m-gutter.catalog_gallery {
        --pf-l-gallery--GridTemplateColumns--min: 320px;
    }
}


.catalog_card_img {
    min-width: 230px;
}

.pf-c-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


div.pf-c-page.banner_page {
    display: block;
}


img.asciidoc-img {
    width: auto;
}



/* Table Head */
.pf-c-table thead th {
    text-align: left;
    color: #333;
    border-bottom: 2px solid #ccc;
    /* Clear division between header and body */
    padding-bottom: 10px;
}



/* Text Body */
.pf-c-table td {
    font-size: 1rem;
}


/* Sticky TOC */
#toc {
    margin-right: 1rem;
    padding: 1rem 0 2rem 2rem;
    background-color: #f7f7f7;
}

#toc-menu {
    position: sticky;
    top: 0;
    width: 100%;
}

#toc-menu ul {
    list-style: none;
    padding-left: 0;
}

#toc-menu ul li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    border-left: 3px solid transparent;
    /* Initially transparent border */
    transition: all 0.3s ease;
}

#toc-menu ul li a:hover {
    background-color: #f5f5f5;
    border-left: 3px solid #d9534f;
    /* Change the left border color on hover */
    color: #333;
}

#toc-menu ul li a.active {
    border-left: 3px solid #d9534f;
    /* Red border for the active section */
    color: #000;
    font-weight: bold;
    background-color: #f5f5f5;
}

/* Main layout container using flexbox */
.page-layout {
    display: flex;
    height: 100vh;
    /* Full height */
    overflow: hidden;
}

/* Content Area */
.content-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    /* Allow scrolling */
}

#main-content-page-layout-tertiary-nav {
    flex-direction: row;
}




.demo-video-iframe-box {
    width: 100%;
    height: 0;
    padding-bottom: 350px;
    position: relative;
}

@media (max-width: 768px) {
    .demo-video-iframe-box {
        padding-bottom: 230px;
    }
}

.demo-video-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.catalog_card {
    height: 420px;
    /* Set the desired height */
    overflow: hidden;
    /* Prevent overflow */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.pf-c-card__title.catalog_card_title:not(:last-child) {
    padding-bottom: 0;
}

.catalog_card_body p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Start with 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px
    
}


.catalog_card_footer {
    margin-top: 5px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffffff;
}

.catalog_card .LabelGroup {
    display: flex;
    flex-wrap: wrap;
    /* Ensure the labels wrap and fit within the card */
}

/* Custom CSS to make the pagination background transparent */
.pf-c-pagination {
    background-color: transparent !important;
    box-shadow: none !important;
    /* Remove shadow if necessary */
}


@media (max-width: 990px) {
    .catalog_card {
        height: 300px;
        align-items: center;
        text-align: center;
    }

    .catalog_card_img{
        max-width:50%;
    }

    .catalog_card_footer {
        display: none;
        /* Hides the entire footer containing tags */
    }
}
@media (max-width: 480px) {
        .catalog_card {
            width: 280px;
        }
    

    }

  #learnmore .page-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  #learnmore #toc-menu {
    padding: 0;
  }

  #learnmore #toc {
    margin: 0;
  }

  #learnmore .pf-c-page__main-section:not(.intro-section) {
    padding: 1rem 0;
  }
  
  .intro-section.full-width {
    background-color: #ffffff; /* White background */
    padding: 2rem;
    margin: 0; /* Remove default margins */
    width: 100vw; /* Full viewport width */
  }
  
  .intro-section .pf-l-grid {
    max-width: 1600px; /* Optional: Limit content width */
    margin: 0 auto; /* Center content within the section */
  }
  
  .responsive-video {
    --max-video-width: 700px;

    position: relative;
    width: 100%;
    max-width: var(--max-video-width);
    margin: 0 auto; /* Center the video horizontally */
    padding-bottom: min(56.25%, var(--max-video-width) * 0.5625); /* Maintain the 16:9 aspect ratio */
    height: 0;
  }
  
  .responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Remove default iframe border */
  }
  
  .intro-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .intro-text p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .subsection-title{    
    text-align: center;
  }

  .section-subtitle{    
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .custom-card {
    border: 1px solid #d2d2d2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    text-align: center;
    min-height: 490px;
  }
  
  .card-image {
    max-width: 80px;
    margin: 0 auto 1rem;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-body p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #4f4f4f;
  }
  
  .section-link {
    display: inline-block;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0066cc; /* Red Hat blue */
    text-decoration: none;
  }
  
  .section-link:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  @media (max-width: 1199px) {
    .custom-card {
        min-height: 200px;
    }
}

.featured-card-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6a6a6a;
  margin-bottom: 5px;
}

.pagination-spacing {
  margin-bottom: 8px; /* Add more space below */
  display: flex;
  justify-content: flex-end; /* Align pagination to the right */
  align-items: center;
}



.catalog_card_experience {
    height: 390px;
    /* Set the desired height */
    overflow: hidden;
    /* Prevent overflow */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}


.catalog_card_body_experience p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Start with 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px
    
}

.catalog_card_experience_b {
    height: 300px;
    /* Set the desired height */
    overflow: hidden;
    /* Prevent overflow */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}


/* Custom Arrows */
.custom-arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  padding: 0 10px; /* Ensures no extra spacing */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensures it’s above other elements */
}

.custom-arrow:hover {
  opacity: 1;
}

.left-arrow {
  position: absolute;
  left: 10px;
}

.right-arrow {
  position: absolute;
  right: 10px;
}
.styles-module_item-container__a8zaY {
  padding: 0 34px 0;
}

